.filter_label {
    font-size: 22px;
    
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.filter_input {
    margin-top: 10px;

    height: 20px;
    width: 177px;
    border-radius: 2px;
    border: 1px solid black;
}